/* dropdown menu */
#menu {
	list-style:none;
	margin-left: 10px;
	/*width:475px;
	padding:0 20px; */

	/* Rounded Corners
	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; */

	/* Background color and gradients
	
	background: #258eca;
	background: -moz-linear-gradient(top, #2787b7, #258fcd);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2787b7), to(#258fcd)); */
	
	/* Borders */
	
	/*-moz-box-shadow:inset 0 0 1px #edf9ff;
	-webkit-box-shadow:inset 0 0 1px #edf9ff;
	box-shadow:inset 0 0 1px #edf9ff;*/
}

#menu li:first-child { background: none; }

#menu li {
	float:left;
	display:block;
	text-align:center;
	position:relative;
	padding: 10px;
	margin-right:0;
	margin-top:7px;
	border:none;
	font-size: 12px;
	background: url(../images/border-menu.png) no-repeat center left;
}

#menu li:hover {
	border: 1px solid #066da0;
	padding: 10px 9px;
	
	/* Background color and gradients */
	
	background: #fff;
	background: -moz-linear-gradient(top, #eee, #fff);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#fff));
	
	/* Rounded corners */
	
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}

#menu li a {
	color: #fff;
	display:block;
	outline:0;
	text-decoration:none;
	text-shadow: 1px 1px 1px #333;
	font-weight: 600;
}

#menu li:hover a {
	color:#161616;
	text-shadow: 1px 1px 1px #fff;
}
#menu li .drop {
	/*padding-right:21px;
	background:url("../images/drop.png") no-repeat right 8px;*/
}
#menu li:hover .drop {
	/*background:url("../images/drop.png") no-repeat right 7px;*/
}

.dropdown_1column,
.dropdown_2columns,
.dropdown_3columns,
.dropdown_4columns {
	margin:4px auto;
	float:left;
	position:absolute;
	left:-999em; /* Hides the drop down */
	text-align:left;
	padding:10px 5px;
	border:1px solid #066da0;
	border-top:none;
	z-index: 99;
	
	/* Gradient background */
	background:#fff;
	background: -moz-linear-gradient(top, #fff, #ddd);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ddd));

	/* Rounded Corners */
	-moz-border-radius: 0 5px 5px 5px;
	-webkit-border-radius: 0 5px 5px 5px;
	border-radius: 0 5px 5px 5px;
}

.dropdown_1column {width: 150px;}
.dropdown_2columns {width: 320px;}
.dropdown_3columns {width: 480px;}
.dropdown_4columns {width: 460px;}

#menu li:hover .dropdown_1column,
#menu li:hover .dropdown_2columns,
#menu li:hover .dropdown_3columns,
#menu li:hover .dropdown_4columns { left:-1px; top:auto; }

.col_1, .col_2, .col_3, .col_4 { display:inline; float: left; position: relative; margin-left: 5px; margin-right: 5px; }

.col_1 {width:150px;}
.col_2 {width:310px;}
.col_3 {width:470px;}
.col_4 {width:450px;}

#menu .menu_right { float:right; margin-right:0; }
#menu li .align_right { -moz-border-radius: 5px 0 5px 5px; -webkit-border-radius: 5px 0 5px 5px; border-radius: 5px 0 5px 5px; }
#menu li:hover .align_right { left:auto; right:-1px; top:auto; }
#menu p, #menu h2, #menu h3, #menu ul li { line-height:21px; font-size:12px; text-align:left; text-shadow: 1px 1px 1px #fff; }
#menu h2 {
	font-size:21px;
	font-weight:400;
	letter-spacing:-1px;
	margin:7px 0 5px;
	padding-bottom:5px;
	border-bottom:1px solid #bbb;
}
#menu h3 {
	font-size:14px;
	margin:7px 0;
	padding-bottom:2px;
	border-bottom:1px solid #ccc;
}
#menu p {
	line-height:18px;
	margin:0 0 10px;
}

#menu li:hover div a {
	font-size:12px;
	color:#015b86;
}
#menu li:hover div a:hover {
	color:#029feb;
}

/*#menu li.current { background: red; }

#menu li.current:hover { background: yellow; } */

.strong {
	font-weight:700;
}
.italic {
	font-style:italic;
}

.imgshadow { /* Better style on light background */
	background:#fff;
	padding:4px;
	border:1px solid #777;
	margin-top:5px;
	-moz-box-shadow:0 0 5px #666;
	-webkit-box-shadow:0 0 5px #666;
	box-shadow:0 0 5px #666;
}
.img_left { /* Image sticks to the left */
	width:auto;
	float:left;
	margin:5px 15px 5px 5px;
}

#menu li .black_box {
	background-color:#333;
	color: #eee;
	text-shadow: 1px 1px 1px #000;
	padding:4px 6px;

	/* Rounded Corners */
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

	/* Shadow */
	-webkit-box-shadow:inset 0 0 3px #000;
	-moz-box-shadow:inset 0 0 3px #000;
	box-shadow:inset 0 0 3px #000;
}

#menu li ul {
	list-style:none;
	padding:0;
	margin:0 0 12px;
}
#menu li ul li {
	font-size:12px;
	line-height:16px;
	position:relative;
	text-shadow: 1px 1px 1px #fff;
	padding:0;
	margin: 5px 0;
	float:none;
	text-align:left;
	width:140px;
	background: none;
}
#menu li ul li a{ font-weight: 500; }

#menu li ul li:hover {
	background:none;
	border:none;
	padding:0;
	margin: 5px 0;
}

#menu li .greybox li {
	background:#F4F4F4;
	border:1px solid #bbb;
	margin:0 0 4px;
	padding:4px 6px;
	width:116px;

	/* Rounded Corners */
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
#menu li .greybox li:hover {
	background:#fff;
	border:1px solid #aaa;
	padding:4px 6px;
	margin:0 0 4px;
}
/* End menu */