div#menu {
	height:55px;
}
div#menu ul {
	list-style:none;
	float:left;
	margin:0;
	padding:0;
}
div#menu ul.menu {
	padding-left: 0;
}
/*div#menu li:first-child { background: none; } */
div#menu li {
	position:relative;
	z-index:9;
	display:block;
	float:left;
	background: url(../images/border-menu.png) no-repeat center left;
	margin:0;
	padding:0;
}
div#menu li:hover>ul {
	left:-2px;
}
div#menu li div {
	list-style:none;
	float:left;
	position:absolute;
	top:52px;
	left:0;
	width:180px;
	z-index:11;
	visibility:hidden;
	_padding:0 0 9px 3px;
	margin:0 0 0 -9px;
	padding:0 0 9px 7px;
}
div#menu li:hover>div {
	visibility:visible;
}
div#menu a {
	position:relative;
	z-index:10;
	height:55px;
	display:block;
	float:left;
	line-height:55px;
	text-decoration:none;
	padding:0 15px;
}
div#menu span {
	color:#eee;
	font-weight:700;
	display:block;
	cursor:pointer;
	background-repeat:no-repeat;
	text-shadow: 1px 1px 1px #555;
}
div#menu ul a:hover span {
	color:#00414e;
	text-shadow: 1px 1px 1px #ccc;

}
div#menu li.last span {
	padding:18px 0 17px 0;
}
div#menu ul ul li {
	background: none;
	z-index:999;
	width:175px;
	padding:4px 0;
	border-bottom: 1px solid #ccc;
}
div#menu ul ul li:last-child { border-bottom: none; }

div#menu ul ul {
	z-index:1000;
	background:#fff;
	border: 1px solid #ccc;
	background: -moz-linear-gradient(top, #fff, #ddd);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ddd));
	margin-top:0;
	margin-left: 3px;
	margin-right: 0;
	padding:0;
}
div#menu ul ul a {
	width: 165px;
	margin-left: 5px;
	height:auto;
	float:none;
	display:block;
	background:none;
	z-index:-1;
	padding:0;
}
div#menu ul ul a span {
	line-height:18px;
	color:#00313b;
	font-weight:400;
	text-transform:none;
	background:none;
	padding:0 10px;
	text-shadow: 1px 1px 1px #fff;
}
div#menu ul ul a:hover {
	background: none;
}
div#menu ul ul a:hover span {
	background: #069;
	color:#fff;
	text-shadow: none;
}
div#menu ul ul li.last {
	background:none;
}
div#menu ul ul li.parent span { background: url(../images/icons/right.png) no-repeat 160px; text-transform: none; color: #333; font-weight: 500; padding: 0 15px; text-shadow: 1px 1px 1px #fff; }
div#menu ul ul li.parent:hover span  { background: #069 url(../images/icons/right-more-h.png) no-repeat 155px; margin: 0 5px; color: #fff; padding: 0 10px; text-shadow: none; }

div#menu ul ul div {
	width:165px;
	height:auto;
	_padding:0 0 9px 3px;
	margin:-48px 0 0 165px !important;
}
div#menu ul ul ul {
	_padding-right:1px;
	
}
div#menu ul ul li.col2 ul {
	_padding-right: 1px;
	width: 350px;
}
div#menu ul ul li.col3 ul {
	_padding-right: 1px;
	width: 525px;
}
div#menu ul ul ul a span { background: none !important; color: #333 !important; margin: 0 !important; padding: 0 10px !important; }

div#menu ul ul ul a:hover span { background: #069 !important; color: #fff !important; }

#menu-box {
	border:1px solid #777;
	height:200px;
	background:#4a5155;
	margin:10px 0;
}
#menu-box #menu {
	margin: 10px 0 0;
}