body {
  font-family: sans-serif;
  font-size: 16px;
  margin: 50px;
  max-width: 99%;
}

td {
	font-family: Arial, Helvetica, sans-serif;
}

th {
	font-family: Arial, Helvetica, sans-serif;
}
.cover {
    padding: 10px;
    padding-right: 100px;

    background: url(../gbr/header.jpg) no-repeat;
}